.env
*.exe
*.dll
*.so
*.dylib
coverage-pkg.out
coverage-api.out
coverage-worker.out
apps/api/coverage-api
apps/api/coverage-api.out
apps/worker/coverage-worker
apps/worker/coverage-worker.out
pkg/coverage-pkg
pkg/coverage-pkg.out
**/node_modules/
**/dist/
**/.turbo/
.DS_Store
.idea/
.vscode/
apps/web/coverage/
apps/web/storybook-static/
bin/
